**.xml
**.log
**.rdf
**.peds
**.so
coda_scripts/coda_tmp_log/*

# Everything in config folder, except run.cnf and base.cnf type files
config/*
!config/run*.cnf
!config/base*.cnf

**.jpeg
**.dat
**.txt
