############################################
######## VME Configuration #################
############################################

FADC250_CRATE all
FADC250_SLOT all

#       channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TRG_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

# force readout of channel mask (i.e. ignore threshold for readout)
FADC250_TET_IGNORE_MASK 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

#modes=1 (raw sample), 9 ( pulse integral + Hi-res time), 10 (pulse integer + Hi-res time + raw)
FADC250_MODE 1

# number of ns back from trigger point.
FADC250_W_OFFSET  1200

# number of ns to include in trigger window.
FADC250_W_WIDTH  800

# time (units: ns) before threshold crossing to include in integral
FADC250_NSB 8 

# time (units: ns) after threshold crossing to include in integral
FADC250_NSA 60

FADC250_NPEAK 1

# fadc channel hit threshold (adc channel)
FADC250_TET 10

# board DAC, one and the same for all 16 channels (DAC/mV)
FADC250_DAC 3270 

# board Gains, same for all channels (MeV/channel)
#FADC250_GAIN 0.500

# Sparsification: 0=Bypassed (read all the channels for the detector), 1=Enabled (reads only the channels around the cluster)
#FADC250_SPARSIFICATION 0

# Accumulator scaler mode: 0=Default, TET based pulse integration, 1=Sum all samples
#FADC250_ACCUMULATOR_SCALER_MODE_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

############################################
######## VTP Configuration #################
############################################

VTP_CRATE all

# Streaming V2 firmware
VTP_FIRMWARE_Z7           fe_vtp_z7_streamingv3_ejfat_v5.bin
VTP_FIRMWARE_V7           fe_vtp_v7_fadc_streamingv3_ejfat.bin


VTP_STREAMING_ROCID       0
VTP_STREAMING_NFRAME_BUF  1000
VTP_STREAMING_FRAMELEN    65536

# (can be 1-4)
VTP_NUM_CONNECTIONS  1 

# (0=TCP, 1=UDP)
VTP_NET_MODE  1 

# (Enable EJFAT headers - UDP only)
VTP_ENABLE_EJFAT  1 (Enable EJFAT headers - UDP only)

# (base local port)
VTP_LOCAL_PORT 10001 

VTP_STREAMING             0

VTP_STREAMING_NSTREAMS    1

VTP_STREAMING_SUBNET      255 255 255   0
VTP_STREAMING_GATEWAY     129  57  69   1   

#JLab LB (MUST update every new reservation & URI!)
VTP_STREAMING_DESTIP	         129.57.177.10

VTP_STREAMING_DESTIPPORT  19522
VTP_STREAMING_LOCALPORT   10001

VTP_STREAMING_CONNECT     1

##########################################################
# VTP rocs, their MAC and IP addresses
# NB actual VTP host name ends with vtp (e.g. adcecal1vtp)
##########################################################

adcecal1  "0xce 0xba 0xf0 0x03 0x01 0x23"  "129 57 69 58"
adcecal2  "0xce 0xba 0xf0 0x03 0x00 0xdd"  "129 57 69 16"
adcecal3  "0xce 0xba 0xf0 0x03 0x00 0xe3"  "129 57 69 22"
adcecal4  "0xce 0xba 0xf0 0x03 0x00 0xd4"  "129 57 69 52"
adcecal5  "0xce 0xba 0xf0 0x03 0x00 0xe9"  "129 57 69 28"
adcecal6  "0xce 0xba 0xf0 0x03 0x01 0x01"  "129 57 69 64"

adcftof1  "0xce 0xba 0xf0 0x03 0x01 0x22"  "129 57 69 62"
adcftof2  "0xce 0xba 0xf0 0x03 0x00 0xe1"  "129 57 69 20"
adcftof3  "0xce 0xba 0xf0 0x03 0x00 0xe7"  "129 57 69 26"
adcftof4  "0xce 0xba 0xf0 0x03 0x00 0xd8"  "129 57 69 56"
adcftof5  "0xce 0xba 0xf0 0x03 0x00 0xed"  "129 57 69 32"
adcftof6  "0xce 0xba 0xf0 0x03 0x01 0x05"  "129 57 69 68"

adcpcal1  "0xce 0xba 0xf0 0x03 0x00 0xdc"  "129 57 69 60"
adcpcal2  "0xce 0xba 0xf0 0x03 0x00 0xdf"  "129 57 69 18"
adcpcal3  "0xce 0xba 0xf0 0x03 0x00 0xe5"  "129 57 69 24"
adcpcal4  "0xce 0xba 0xf0 0x03 0x00 0xd6"  "129 57 69 54"
adcpcal5  "0xce 0xba 0xf0 0x03 0x00 0xeb"  "129 57 69 30"
adcpcal6  "0xce 0xba 0xf0 0x03 0x01 0x03"  "129 57 69 66"

test2     "0xce 0xba 0xf0 0x03 0x00 0x9d"  "129 57 69 14"
