############################################
######## VME Configuration #################
############################################

FADC250_CRATE all
FADC250_SLOT all

#       channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TRG_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

# force readout of channel mask (i.e. ignore threshold for readout)
FADC250_TET_IGNORE_MASK 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

#modes=1 (raw sample), 9 ( pulse integral + Hi-res time), 10 (pulse integer + Hi-res time + raw)
FADC250_MODE 1

# number of ns back from trigger point.
FADC250_W_OFFSET  1200

# number of ns to include in trigger window.
FADC250_W_WIDTH  800

# time (units: ns) before threshold crossing to include in integral
FADC250_NSB 8 

# time (units: ns) after threshold crossing to include in integral
FADC250_NSA 60

FADC250_NPEAK 1

# fadc channel hit threshold (adc channel)
FADC250_TET 20

# board DAC, one and the same for all 16 channels (DAC/mV)
FADC250_DAC 3270 

# board Gains, same for all channels (MeV/channel)
#FADC250_GAIN 0.500

# Sparsification: 0=Bypassed (read all the channels for the detector), 1=Enabled (reads only the channels around the cluster)
#FADC250_SPARSIFICATION 0

# Accumulator scaler mode: 0=Default, TET based pulse integration, 1=Sum all samples
#FADC250_ACCUMULATOR_SCALER_MODE_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

############################################
######## VTP Configuration #################
############################################

# Streaming V2 firmware
VTP_FIRMWARE_Z7           fe_vtp_z7_streamingv3_ejfat_v5.bin
VTP_FIRMWARE_V7           fe_vtp_v7_fadc_streamingv3_ejfat.bin


VTP_STREAMING_ROCID       0
VTP_STREAMING_NFRAME_BUF  1000
VTP_STREAMING_FRAMELEN    65536

# (can be 1-4)
VTP_NUM_CONNECTIONS  1 

# (0=TCP, 1=UDP)
VTP_NET_MODE  1 

# (Enable EJFAT headers - UDP only)
VTP_ENABLE_EJFAT  1 (Enable EJFAT headers - UDP only)

# (base local port)
VTP_LOCAL_PORT: 10001 

VTP_STREAMING             0

VTP_STREAMING_NSTREAMS    1

VTP_STREAMING_SUBNET      255 255 255   0
VTP_STREAMING_GATEWAY     129  57  69   1   

#JLab LB (MUST update every new reservation & URI!)
VTP_STREAMING_DESTIP	         129.57.177.28

VTP_STREAMING_DESTIPPORT  19522
VTP_STREAMING_LOCALPORT   10001

VTP_STREAMING_CONNECT     1

##########################################################
# VTP rocs, their MAC and IP addresses
# NB actual VTP host name ends with vtp (e.g. adcecal1vtp)
##########################################################
test2    "0xce 0xba 0xf0 0x03 0x00 0x9d" "129 57 69 14"  

adcecal1 "0xce 0xba 0xf0 0x03 0x00 0x02" "129 57 68 38"
adcecal2 "0xce 0xba 0xf0 0x03 0x00 0x03" "129 57 68 39"
adcecal3 "0xce 0xba 0xf0 0x03 0x00 0x04" "129 57 68 40"
adcecal4 "0xce 0xba 0xf0 0x03 0x00 0x05" "129 57 68 41"
adcecal5 "0xce 0xba 0xf0 0x03 0x00 0x06" "129 57 68 42"
adcecal6 "0xce 0xba 0xf0 0x03 0x00 0x98" "129 57 68 43"

adcpcal1 "0xce 0xba 0xf0 0x03 0x00 0x08" "129 57 68 44"
adcpcal2 "0xce 0xba 0xf0 0x03 0x00 0x09" "129 57 68 45"
adcpcal3 "0xce 0xba 0xf0 0x03 0x00 0x0a" "129 57 68 74"
adcpcal4 "0xce 0xba 0xf0 0x03 0x00 0x0b" "129 57 68 75"
adcpcal5 "0xce 0xba 0xf0 0x03 0x00 0x0c" "129 57 68 76"
adcpcal6 "0xce 0xba 0xf0 0x03 0x00 0x0d" "129 57 68 77"

adcftof1 "0xce 0xba 0xf0 0x03 0x00 0x29" "129 57 68 215"
adcftof2 "0xce 0xba 0xf0 0x03 0x00 0x2a" "129 57 68 216"
adcftof3 "0xce 0xba 0xf0 0x03 0x00 0x2b" "129 57 68 217"
adcftof4 "0xce 0xba 0xf0 0x03 0x00 0x2c" "129 57 68 218"
adcftof5 "0xce 0xba 0xf0 0x03 0x00 0x2d" "129 57 68 219"
adcftof6 "0xce 0xba 0xf0 0x03 0x00 0x2e" "129 57 68 220"

